.continent{
  padding-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

#map{
  width: 100%;
  height:35%;
  position: fixed;
  z-index:100;
}

#navigation {
  padding-bottom: 2px;
}

#content{
  top: 35%;
  width: 100%;
  padding-top:2px;
  position: absolute;
}

.countryIcon{
  margin-top:-2px;
}
