#map{
  width: 100%;
  height:35%;
  position: fixed;
  z-index:100;
}

.jvectormap-zoomin, .jvectormap-zoomout{
  display:none;
}

#content{
  top: 35%;
  position: absolute;
  width: 100%;
  overflow-y: auto;
  height:65%;
}

.header{
  overflow:hidden;
}

.hamburger{
  position:absolute;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  font-size:1.8em;
  cursor:pointer;
  z-index:200;
}

.hamburger:link, .hamburger:visited, .hamburger:hover, .hamburger:active{
  text-decoration: none;
  color:#CCCCCC !important;
}

.settingsNumberFormat{
  padding-top: 6px !important;
}

#whatsapp, #facebook, #twitter, #instagram {
  display:block;
  margin-top: 10px;
  width: 45px;
  border-radius: 10%;
}

#whatsapp {
  margin-top:0px;
}

.colorpicker {
  background-color: white !important;
  border: solid 1px #CCCCCC !important;
}

.colorpickerContainer {
  background-color: #FCFCFC !important;
  border: solid 1px #CCCCCC !important;
}

.countryIcon{
  margin-top:-2px;
}

.collapsing, .ui-focus-content{
  padding-left:5px;
  padding-right:5px;
}

.collapsing .ui-collapsible-content{
  padding: 0;
  margin: 0;
}

.bubble{
  width:35px;
}

.ui-focus-header{
  margin:5px 0 5px 0;
  padding: 5px;
  padding-top:7px;
}

#focusTitle{
  position:relative;
  padding-left:3px;
  top:-8px;
}

.custom-count-pos{
  padding-top: 2px;
  padding-bottom:1px;
}

.ui-collapsible-content{
  padding: .2em .5em;
}

.ui-collapsible-content-gray{
  background-color: #EEEEEE;
}

.ui-collapsible-content-white{
  background-color: #FFFFFF;
}

.countryList, #regionList{
  width:100%;
}

.ui-cell-icon {
  padding-left:5px;
  padding-right:5px;
  padding-top: 5px;
  width:30px;
}

.ui-cell-text {
  width:auto;
  padding-top:4px;
  padding-left:10px;§§
}

.ui-cell-button{
  width: 150px;
}

@media all and (min-width: 42em) {

}

@media all and (min-width: 55em) {

}
