#map{
  width: 100%;
  height:35%;
  position: fixed;
  z-index:100;
}

#content{
  top: 35%;
  position: absolute;
  width: 100%;
  padding-top:2px;
  overflow-y: auto;
  height:65%;
}

.countryIcon{
  margin-top:-2px;
}

.collapsing{
  padding-left:5px;
  padding-right:5px;
}

.custom-count-pos{
  padding-top: 2px;
}

.ui-collapsible-content{
    padding: .2em .5em;
}

.ui-block-a {
  padding-top:7px;
  width: 10% !important;
}

.ui-block-b {
  width:66% !important;
  padding-top:14px;
  padding-left:5px;
}

.ui-block-c, .ui-block-d{
  width: 12% !important;
}

@media all and (min-width: 42em) {

  .ui-block-a {
    width: 8% !important;
  }

  .ui-block-b {
    width:76% !important;
  }

  .ui-block-c, .ui-block-d{
    width: 8% !important;
  }
}

@media all and (min-width: 55em) {
  .ui-block-a {
    width: 7% !important;
  }

  .ui-block-b {
    width:79% !important;
  }

  .ui-block-c, .ui-block-d{
    width: 7% !important;
  }

}
.ui-icon-check-on {
  background-color: #35f254 !important;
}

.ui-icon-heart-on {
  background-color: red !important;
}
