<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>My App</title>
  
  <script src="js/lib/jquery-2.1.1.min.js"></script>
  <script src="js/lib/jquery-jvectormap-2.0.3.min.js"></script>
  <script src="js/lib/jquery-jvectormap-world-mill.js"></script>
  <script src="js/lib/jquery-jvectormap-asia-mill.js"></script>
  <script src="js/lib/jquery-jvectormap-africa-mill.js"></script>
  <script src="js/lib/jquery-jvectormap-europe-mill.js"></script>
  <script src="js/lib/jquery-jvectormap-north_america-mill.js"></script>
  <script src="js/lib/jquery-jvectormap-south_america-mill.js"></script>
  <script src="js/lib/jquery-jvectormap-oceania-mill.js"></script>

  <link rel="stylesheet" href="css/framework7.material.min.css">
  <link rel="stylesheet" href="css/framework7.material.colors.min.css">
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  
</head>
  <body>
  <div id="app">
    <!-- Main Views -->
    <f7-views>
      <f7-view id="main-view">
        <!-- Header -->
        <div class="header">
          <f7-navbar class="nav-trans">
            <f7-nav-left>
              <f7-link icon="icon-bars" open-panel="left"></f7-link>
            </f7-nav-left>
          </f7-navbar>
          <img src="img/header.png" class="logo"/>
        </div>
        <jvectormap :map-name="currentMap.mapName" :visited="visited" :wanted="wanted"></jvectormap>

        <!-- Pages -->
        <f7-pages class="mainPage">
          <f7-page>
            <div id="content">
              <f7-list accordion>
                <template v-for="(value, key) in continents">
                  <f7-list-item class="continent" :id="key" :title="$t(key)" @accordion:open.prevent="changeMap(value)" @accordion:close="changeMap(world)" accordion-item>
     
                    <f7-accordion-content>
                      <template v-for="country in value.countries">
                        <f7-list-item class="countryItem">
                          <div class="countryDetailTable">
                            <div class="countryDetailRow">
                              <div class="countryDetailColumn countryDetailIcon" align="center">
                                <img class="countryIcon" :src="'img/' + country.code + '.png'"/>
                              </div>
                              <div  class="countryDetailColumn countryDetailName">
                                <span class="countryName">{{country.name}}</span>
                              </div>  
                              <div  class="countryDetailColumn countryDetailVisited">
                                <i class="far fa-check-circle fa-2x icon"></i>
                              </div>
                              <div  class="countryDetailColumn countryDetailWanted">
                                <i class="far fa-eye fa-2x icon"></i>
                              </div>
                            </div>
                          </div>
                        </f7-list-item>
                      </template>
                    </f7-accordion-content>
                  </f7-list-item>
                </template>
              </f7-list>
            </div>
          </f7-page>
        </f7-pages>
      </f7-view>
    </f7-views>

    <!-- Left Panel / Settings -->
    <f7-panel left cover layout="dark">
      <f7-view id="left-panel-view">
        <f7-navbar title="Settings" sliding></f7-navbar>
        <f7-pages>
          <f7-page>
            
          </f7-page>
        </f7-pages>
      </f7-view>
    </f7-panel>
  </div>

  <script src="cordova.js"></script>
  <script src="data/continents.js"></script>
  <script src="js/lib/framework7.min.js"></script>
  <script src="js/lib/vue.min.js"></script>
  <script src="js/lib/vue-i18n.js"></script>
  <script src="data/messages.js"></script>
  <script src="js/lib/framework7-vue.min.js"></script>

  <script src="js/app.js"></script>
</body>
</html>
