.jvectormap-container {
    width: 100%;
    height: 330px;
    position: relative;
    overflow: hidden;
}

.nav-trans{
  height:5%;
}

.map {
  top:5%;
  width: 100%;
  height:35%;
  position: absolute;
  z-index:100;
}

#content{
  top: 40%;
  position: absolute;
  width: 100%;
  overflow-y: auto;
}

.jvectormap-zoomin, .jvectormap-zoomout{
  display:none;
}

.countryIcon{
  float: left;
  padding-top: 5px;
  padding-left: 10px;
}
