body, html{
    margin: 0px;
    height: 100%;
}

.header{
  width: 100%;
  position: fixed;
}

.navbar {
  height : 50px;
  background: #34aedc;
}

.logo{
  height: 32px;
  position: absolute;
  top:11px;
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.jvectormap-container {
  height: 100%;
}

.map {
  top: 50px;
  height: 35%;
  width: 100%;
  position: absolute;
}

#content{
  position: absolute;
  width: 100%;
  overflow-y: scroll;
  height: 65%;
  background-color:#444546;
}

.item-content {
  border-top: 1px solid #2b2c2D;
}

.list-block .item-inner{
  padding-top:0px;
  padding-bottom:0px;
}

.list-block .item-content {
  padding-left: 12px;
}

.list-block .item-inner:after {
  background-color: transparent;
}

.mainPage{
  top: -moz-calc(35% + 50px);
  /* WebKit */
  top: -webkit-calc(35% + 50px);
  /* Opera */
  top: -o-calc(35% + 50px);
  /* Standard */
  top: calc(35% + 50px);
}

.jvectormap-zoomin, .jvectormap-zoomout{
  display:none;
}

.continent>.item-link{
  background-color:#444546;
}

.item-title, .countryName{
  color: white;
}

.countryDetailTable{
  display: table;         
  width: 100%;    
}

.countryDetailRow{
  display: table-row;
  width: auto;
  clear: both;
}

.countryDetailColumn{
  float: left; 
  display: table-column;              
}

.countryDetailIcon{
  width: 12%;
}

.countryIcon {
  padding-top:3px;
}

.countryDetailName{
  width:58%;
}

.countryName{
  padding-left: 10px;
}

.countryDetailVisited, .countryDetailWanted{
  width:15%;
  color: white;
  text-align: center;
}

.icon {
  padding-top: 7px;
}


.page-content {
  overflow:hidden
}

.list-block{
  margin: 0px;
}