body, html{
    margin: 0px;
    height: 100%;
}

.header{
  width: 100%;
  height: 40%;
}

.mapTitle{
  margin:0 auto;
  font-weight: bold;
}

.jvectormap-container {
  top: 5%;
  height: 35%;
}

.map {
  height:100%;
  width: 100%;
  position: fixed;
}

#content{
  position: absolute;
  width: 100%;
  overflow-y: scroll;
  height: 65%;
}

.jvectormap-zoomin, .jvectormap-zoomout{
  display:none;
}

.countryIcon{
  float: left;
  padding-top: 5px;
  padding-left: 10px;
}

.visitedIcon {
  color: green;
}

.countryItem .item-title {
  padding-left : 60px;
}

.countryIcon {
  left: 0px;
  position: absolute;
}

.page-content {
  overflow:hidden
}

.list-block{
  margin: 0px;
}